TELEGRAM_BOT_TOKEN=SEU_TELEGRAM_BOT_TOKEN_HERE
IDDAS_API_KEY=SUA_CHAVE_API_IDDAS_HERE
IDDAS_BASE_URL=https://apiagencia.iddas.com.br/api/v1
IDDAS_DEFAULT_CONTA_ID=1
IDDAS_DEFAULT_CATEGORIA_RECEITA_ID=1
IDDAS_DEFAULT_CATEGORIA_DESPESA_ID=1
IDDAS_DEFAULT_FORMA_PAGAMENTO_ID=1
IDDAS_DEFAULT_CANAL_VENDA_ID=1
